.Comidas{
    border: 10px solid greenyellow;
    width: 400px;
    padding: 25px;
    background-color: green;
}
body{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow', Arial, sans-serif ;
    background-color: cornflowerblue;
    color: white;
    border-color: yellow;
    border-style: dotted;
    border-width: 50px;
    padding: 20px 50px;
}
h1{
    background-color: white;
    color: blue;
    display: inline-block;
}
h2{
    background-color: white;
    color: blue;
    display: inline-block;
    text-align: center;
}
a{
    color: red;
}
