.Comidas{
    border: 10px solid #1a759f;
    width: 400px;
    padding: 24px 24px;
    background-color: #52b69a;
}
body{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow', Arial, sans-serif ;
    background-color: #b5e48c;
    color: white;
    border-color: #52b69a;
    border-style: dotted;
    border-width: 50px;
    padding: 20px 200px;
}
h1{
    background-color: white;
    color: #99d98c;
    display: inline-block;
    padding: 0px 8px;
}
h2{
    background-color: white;
    color: #34a0a4;
    display: inline-block;
    text-align: center;
    padding: 0px 8px;
}
a{
    color: #1a759f;
    padding: 0px 8px;
}

